* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
    background-color: grey;
}

.calculator {
    width: 400px;
    height: auto;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
   
}

.display {
    font-size: 40px;
    text-align: right;
    border: 30px solid black;   
    height: 100px;

    padding: 50px;
    background-color: rgb(197, 194, 194);
    border-radius: 40px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    border: 40px solid black;
    gap: 10px;
    
}
.item {
    width: 75px;
    height: 90px;
    font-size: 35px;
    border-radius: 10px;
}

.num {
    background-color: grey;
}

.operator {
    background-color: rgb(217, 157, 19);
}

.clear {
    background-color: rgb(176, 31, 31);
}

.del {
    background-color: green;
}
.top{
    display: flex;
    justify-content: space-between;
    gap: 72px;
    
}
.bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.left{
    color: greenyellow;
    font-size: 48px;
    font-style: italic;
    
}